* {
  box-sizing:border-box;
}

body {
  background-color: #f1eae0;
  font-family: omnes-pro, sans-serif;
  font-weight: 500;
  font-style: normal;
  width: 100vw;
}

nav {
  display: flex;
  align-content: baseline;
  width: 95%;
  height: 70px;
  position: fixed;
  margin-top: -22vh;
  overflow: hidden;
  z-index: 10;
}


.logo {
  height: 75px;
  margin-left: 2vw;
}

nav ul {
  width: 93%;
  display: flex;
  justify-content: flex-end;
}

nav li {
  list-style: none;
  padding: 15px;
}

nav a {
  text-decoration: none;
  font-size: 1.01em;
  font-weight: 500;
  color: #333; 
}

.contact a {
  background-color: #cfafae;
  color: #fff;
  padding: 0.7rem 1.3rem;
}

.contact a:hover {
  background-color: #dabfbe;
}

.header {
  width: 60%;
  display: flex;
  justify-content: center;
  margin: 25vh auto;
  padding-bottom: 2vh;
  overflow: hidden;
}

.header svg {
  width: 77vh;
  height: 77vh;
  background-color: #d09f8e;
  position: absolute;
  margin: 15vh -72vh;
  border-radius: 50%;
  z-index: 1;
}

.header h1 {
  font-family: orpheuspro, serif;
  font-weight: 300;
  font-style: normal;
  font-size: 4.5rem;
  font-weight: 200;
  line-height: 5rem;
  padding: 5vh;
  margin-top: 15vh;
}

.header img{
  width: 470px;
  height: auto;
  margin-left: 3vw;
  z-index: 9;
}

.explore {
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #e6d3c7;
  text-align: center;
  min-height: 70vh;
  overflow: hidden;
}

.explore h2 {
  font-family: orpheuspro, serif;
  font-weight: 300;
  font-style: normal;
  font-size: 4.5rem;
  color:#b45118;
}

.explore ul {
  display: flex;
  justify-content: center;
}

.explore li {
  list-style: none;
  margin-bottom: 5vh;
}

.explore a {
  background-color: #cfafae;
  color: #fff;
  margin: 4vh;
  padding: 2vh 3vh;
  font-size: 1.2rem;
  text-decoration: none;
  margin-bottom: 5vh;
}

.explore a:hover {
  background-color: #dabfbe;
}

.article {
 display: flex;
 height: 90vh;
 overflow: hidden;
}

.article-left {
  width: 50%;
  overflow: hidden;
}

.paragraph {
  width: 70%;
  float: right;
  padding: 4vw;
  overflow: hidden;
}

.paragraph h3 {
  font-family: orpheuspro, serif;
  font-weight: 300;
  font-style: normal;
  font-size: 2.5rem;
}

.paragraph p {
  font-size: 1.3rem;
  line-height: 2rem;
}

.paragraph a {
  font-size: 1.3rem;
  line-height: 2rem;
  float: right;
  color: #333;
}

.article-right {
  width: 50%;
  height: 100%;
  background-color: #d09b7b;
}

.article-right img {
  padding: 15vh;
}

.featured-work {
  background-color: #e6d3c7;
  min-height: 100vh;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  overflow: hidden;
}

.featured-work-left {
  width: 50%;
}

.featured-work-left .content {
  display: flex;
  flex-direction: column;
  justify-items: flex-end;
  align-items: flex-end;
}

.featured-work-left img {
  width: 62%;
  float: right;
  padding-top: 20vh;
}

.view-work {
  padding: 2vh;
  margin-left: 22.65vw;
  margin-top: 5vh;
  justify-content: center;
  align-content: center;
}

.featured-work-left a {
  background-color: #cfafae;
  color: #fff;
  padding: 2vh;
  font-size: 1.2rem;
  text-decoration: none;
  justify-content: center;
  align-items: center;
}

.featured-work-right {
  width: 50%;
  display: flex;
}

.featured-work-right h2 {
  font-family: orpheuspro, serif;
  font-weight: 200;
  font-style: normal;
  font-size: 5rem;
  line-height: 5.5rem;
  color:#b45118;
  padding: 4vh;
  position: absolute;
  margin-top: 30vh;
  width: 20vw;
}

.featured-work-right .image1 img {
  position: relative;
  margin-top: 57vh;
  width: 450px;
  padding: 4vh;
}

.featured-work-right .image2 {
  position: relative;
  margin-top: 12vh;
  margin-left: -5vw;
}

.testimonial {
  background-color: #d19f8f;
  height: 60vh;
  display: flex;
  flex-direction: column;
  padding: 7vh;
  overflow: hidden;
}

.testimonial img {
  width: 7vw;
  margin: auto;
}

.testimonial h3 {
  font-family: orpheuspro, serif;
  font-weight: 300;
  font-style: normal;
  font-size: 2.3rem;
  color: #fff;
  width: 60%;
  margin: auto;
  text-align: center;
}

.testimonial p {
  font-family: orpheuspro, serif;
  font-weight: 300;
  font-style: normal;
  font-size: 1.5rem;
  color: #fff;
  width: 60%;
  margin: auto;
  text-align: center;
}

.article-two {
  width: 100vw;
  min-height: 100vh;;
  display: flex;
  height: 70vh;
  margin-bottom: 13vh;
  overflow: hidden;
}

.paragraph-two {
  width: 55%;
  min-height: 100vh;
  float: right;
  padding-top: 20vh;
}

.paragraph-two p {
  width: 100%;
  font-size: 1.2rem;
  line-height: 2rem;
}

.paragraph-two a {
  font-size: 1.3rem;
  line-height: 2rem;
  float: right;
  color: #333;
}

.learn-more {
  float: left;
}

.article-two-left {
  width: 50%;
}

.article-two-left a {
  background-color: #cfafae;
  color: #fff;
  padding: 2vh;
  font-size: 1.2rem;
  text-decoration: none;
  justify-content: center;
  align-items: center;
}

.article-two-right {
  width: 50%;
 overflow: hidden;
}

.article-two-right img {
  padding: 12vh 7vh;
  z-index: 10;
}

.orange-circle {
  position: relative;
  margin-top: -75vh;
  margin-left: 65vw;
  padding: 0;
  max-width: 100vw;
  overflow: hidden;
  z-index: -1;
}

.orange-circle img {
  position: relative;
  padding-bottom: 6vh;

}

.recent-posts {
  background-color: #e6d3c7;
  min-height: 70vh;
}

.recent-posts {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.recent-posts h3 {
  
  font-family: orpheuspro, serif;
  font-weight: 300;
  font-style: normal;
  font-size: 4.5rem;
  color:#b45118;
  margin-top: -6vh;
  margin-left: 43vw;
}

.images-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -6vh;
}

.recent-posts img {
  width: 350px; 
  height: 350px; 
  object-fit: cover;
  object-position: 35% 35%;
  margin: 0.7vw;
}

.images-wrap p {
  margin-top: -1vh;
  margin-left: 0.7vw;
  font-size: 1.3rem;
}

.footer-logo {
  display: flex; 
  justify-content: center;
}

.footer-logo img {
    margin-top: -10vh;
    width: 9vw;
    position: absolute;
}

.footer-top {
  background-color: #ede1d5;
  height: 80vh;
  padding: 15vh;
}

.footer-nav {
  display: flex;
  margin: auto;
  justify-content: space-between;
  align-items: baseline;
  width: 60%;
}

.footer-nav h3 {
  font-family: orpheuspro, serif;
  font-weight: 300;
  font-style: normal;
  font-size: 2.5rem;
}

.footer-nav ul {
  text-align: right;
}

.footer-nav li {
  list-style: none;
}

.footer-nav a {
  font-size: 1.2rem;
  color: #333;
  align-items: flex-start;
}


.insta img {
  width: 63%;
  margin-left: 16vw;
}

.links {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin: auto;
  width: 63%;
}

.links li {
  display: inline;
  margin-left: 1vw;
}

.links li+li:before {
  content: "•";
  font-size: 1.5rem;
  padding-right: 1vw;
}


.links a {
  margin-left: 0.5vw;
  color: #333;
  font-size: 1.2rem;
}

.footer-bottom {
  background-color: #d19f8f;
  min-height: 25vh;
  min-width: 100vw;
  display: flex;
  justify-content: center;
  align-content: center;
  padding-bottom: 9vh;
}


.sign-up h3 {  font-family: orpheuspro, serif;
  font-weight: 300;
  font-style: normal;
  font-size: 2.5rem;
  color: #fff;
  text-align: center;
}

.sign-up input {
  padding: 1vw;
  margin: 0.3vw;
  border: none;
  font-family: omnes-pro, sans-serif;
  font-size: 1.3rem;
}

.sign-up input:active {
  border: 2px solid #fff;
}

.sign-up .btn {
  background-color: #cfafae;
}

.sign-up .btn:hover {
  background-color: #dabfbe;
}